@font-face {
  font-family: "iconfont"; /* Project id 4485642 */
  src: url('iconfont.woff2?t=1711617159346') format('woff2'),
       url('iconfont.woff?t=1711617159346') format('woff'),
       url('iconfont.ttf?t=1711617159346') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-git:before {
  content: "\e799";
}

.icon-gmail:before {
  content: "\e67c";
}

.icon-github:before {
  content: "\e709";
}

.icon-instagram:before {
  content: "\e736";
}

.icon-discord:before {
  content: "\e618";
}

